@page "/"

<PageTitle>Index</PageTitle>

<h1>Statistics for Gamers</h1>

<p>Last Updated: 8/12/2023</p>

<p>This is an ongoing personal project that contains calculators for game-related statitics. This website was developed using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a>, a technology that uses WebAssembly to execute .NET in the browser.
     The goal of this project is to gamify statitics. For now it only contains a hypergeometric calculator.</p>
